<div><% @lists.each do |list| %>
<p><%= link_to list.name, list_path(list)%></p>
<% end  %></div>
<%= link_to "create your list ", new_list_path%>


<%= cl_image_tag("san_francisco.jpg",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
